<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="10.0">
  <Rules AnalyzerId="ErrorProne.NET.CodeAnalyzers" RuleNamespace="ErrorProne.NET.CodeAnalyzers">
    <Rule Id="SA1633" Action="None" />  
    <Rule Id="SA1600" Action="None" />  
    <Rule Id="SA1200" Action="None" />  
    <Rule Id="SA1306" Action="None" />  
    <Rule Id="SA1309" Action="None" />  
    <Rule Id="SA1101" Action="None" />  
    <Rule Id="SA1027" Action="None" />  
    <Rule Id="SA1134" Action="None" />  
    <Rule Id="SA1503" Action="None" />  
    <Rule Id="SA1124" Action="None" />  
    <Rule Id="SA1602" Action="None" />  
    <Rule Id="SA1601" Action="None" />  
    <Rule Id="SA1308" Action="None" />  
    <Rule Id="SA1401" Action="None" />
  </Rules>
</RuleSet>